.cartContainer{
    padding-top: 8vh;
    width: 60vw;
    margin: 0 auto;
}

.cartContainer>h2{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid rgb(159, 159, 159);
    font-size: 28px;
}

.cartListDiv{
    height: 65vh;
    overflow-y: scroll;
}

.cartItem{
    background-color: antiquewhite;
    width: 95%;
    display: grid;
    grid-template-columns: 10% 90%;
    margin:20px auto;
    box-shadow: rgba(100, 100, 100, 0.35) 0px 5px 15px;
}

.cartItem img{
    width: inherit;
    height: 100%;
    object-fit:cover;
}

.itemText{
    padding: 0px 20px;
}

.cartItem p{
    font-size: 18px;
    padding: 5px 0;
}

.quantity{
    font-size: 18px;
}

.quantity p{
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: 5px;
    margin: 0px 10px;
    padding:0px 10px;
    background-color: rgb(255, 208, 208);
    cursor: pointer;
    border-radius: 2px;
}

.checkoutDiv{

    display: grid;
    grid-template-columns: 85% 15%;
    border-top: 1px solid rgb(159, 159, 159);
    bottom: 0;
    position: fixed;
    width: inherit;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.checkoutDiv h2{
    padding-left: 20px;
}

.checkoutDiv p{
    text-align: center;
    padding: 5px 10px;
    margin: 0px 10px;
    font-size: 20px;
    background-color: rgb(76, 175, 80);
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}

.popupContainer
{
  top:0%;
  left:0%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #00000046;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 2; */
}

.popup-box{
    background-color: white;
    width: 33vw;
  }

  .popup-box h3{
    display: grid;
    grid-template-columns: 93% 7%;
    font-size: 28px;
    margin-bottom: 10px;
    padding: 10px 0px;
    background-color: rgb(43, 25, 42);
    color: white;
  }

  .popup-box h3 p{
    text-align: center;
  }

  .popup-box h3 span{
    text-align: center;
    cursor: pointer;
    color: rgb(255, 94, 94);
  }

  .addressContainer{
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 10px 30px;
  }

  .addressContainer span{
    margin-top: 40px;
  }

  .addressContainer p{
    word-break: break-all;
  }

  .addAddress{
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: rgb(76, 175, 80);
    font-weight: bold;
    cursor: pointer;
  }


  .placeBtn{
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: rgb(76, 175, 80);
    font-weight: bold;
    cursor: pointer;
  }

  .addrBtnsContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .inpDivs{
    width: 80%;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 20px auto;
    font-size: 22px;
  }

  .inpDivs label{
    padding: 5px;
    font-weight: bold;
  }

  .inpDivs input{
    font-size: 20px;
    padding: 5px;
  }

  .submitAddr{
    text-align: center;
    width: 77%;
    margin: 20px auto;
    padding: 10px;
    background-color: rgb(76, 175, 80);
    font-weight: bold;
    cursor: pointer;
  }

  .addrBtns{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .delete{
    margin-top: 5px;
    margin-bottom :5px;
    border: none;
    width: 100px;
    border-radius: 5px;
    height: 30px;
    margin-right: 20px;
    font-size: 17px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
    
  }